.profileBlock {
    max-width: 950px;
    margin: 80px auto;
    background: $white;
    border-radius: 3px;
    padding: 60px 70px;
    text-align: center;
}
.paymentForm {
    .fieldSet {
        margin: 0 -15px 45px -15px;
        display: flex;
    }
    .card {
        margin: 0 15px;
        width: 50%;
        background: $white;
        border-radius: 10px;
        box-shadow: 0 6px 20px rgba(0,0,0,.15);
        padding: 40px 30px 0 30px;
        position: relative;
        .cardIco {
            width: 40px;
            height: 25px;
            position: absolute;
            right: 20px;
            top: 20px;
            background: url(../img/icons.png) 0 -40px no-repeat;
        }
    }
    .input {
        margin: 0 0 30px 0;
    }
    .toolTip {}
}